nav {
    background-color: lightseagreen;
}

a {
    color: white;
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
}

.display-1 {
    font-family: 'Francois One', sans-serif;
}

.display-2 {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
}

.display-3 {
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
}

.row {
    font-family: "Gill Sans", serif;
}

.col-sm-2 {
    color: lightseagreen;
}

.table-striped > tbody > tr:nth-child(n+1) > td{
    background-color: #beeae8;
}

.table-striped > tbody > tr:nth-child(n+1) > th {
    background-color: #84cac7;
 }

 td {
    color: darkslategrey;
 }