main {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Abril Fatface', cursive;
    color: purple;
}

img {
    height: 400px;
    padding-top: 20px;
    padding-right: 20px;
}