/* STYLES */

container.no-margin{
    margin:0 ! important;
}

container{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

form{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
}

nav{
    margin-bottom: 30px;
}

.td{
    width: 100%;
}

body{
    background-color: #acefef;
}

.row{
    background-color: #acefef;
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{
    display: inline-block;
}

.col-3{
    padding: 10px;
}

button{
    margin-top: -20px;
    background-color: #acefef;
    border-width: 0;
    color: #0070ae;
    font-size: 20px;
    margin-left: 15px;
}

button:hover{
    color: white;
}

button:focus {
    outline:0;
    font-weight: bold;
}

h1{
    font-size: 22px;
    text-align: center;
    color: #0070ae;
}

h2{
    font-size: 18px;
    text-align: left;
}

h3{
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    font-weight: bolder;
}

.cartCount{
    display: inline;
}

.newCard{
    border-radius: 10px;
    text-align: center;
    background-color: white;
    padding: 15px;
    width: 30%;
    align-content: space-between;
    margin-right: 3.333%;
    margin-bottom: 20px;
}

.col-lg-9{
    display: flex;
    flex-flow: row wrap;
    /* background-color: red; */
    padding-right: 0;
    height: 1200px;
}

td{
    text-align: center;
}

/* .col-lg-3{
    background-color: yellow;
} */

.card{
    border-radius: 10px;
    margin-bottom: 30px;
    text-align: center;
    padding: 8px;
}

.cardImg{
    width: 100%;
    border-radius: 20px;
}

.input-group{
    margin-left: 50px;
}

.checkoutInput{
    border-radius: 5px;
    width: 500px;
    border-width: 1px;
    border-color: #acefef;
}

half{
    width: 200px ! important;
}

.checkout{
    text-align: left;
    width: 150px;
}

.checkoutRow{
    border-spacing: 100px;
}

table{
    margin: 0px auto 20px;
}

.boardName{
    margin-top: 15px;
}

.tableText{
    margin-left: 10px;
    padding-top: 12px;
}

.carousel img {
    margin-bottom: 30px;
}

.carousel{
    border-color: rgb(231, 204, 169);
    border-width: 3px;
}

iframe{
    margin-bottom: 30px;
}

h5{
    color: #0070af;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: 'PT Sans Narrow', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

/* replace below */
body {
    margin: 0;
}
  
.topnav {
    overflow: hidden;
    background-color: white;
    margin: auto;
}
  
.mapouter{
    background-color: white;
    width: 100%;
}

.gmap_canvas{
    width: 100%;
    margin: auto;
}

.topnav a {
    display: inline-block;
    color: #0070ae;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: white;
}
  
.topnav a:hover {
    background-color: white;
    color: #acefef;
}
  
.topnav .icon {
    display: none;
    margin-top: 20px;
}
  
.notLogo{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
}
  
.logo{
    float: left;
    background-color: white;
    transition: all 1s ease;
}

hr{
    border-color: #0070ae;
    margin-top: 0px;
    margin-bottom: 30px;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

#Library:hover {
    content: url('boardingschool2.png');
}

button{
    border-radius: 10px;
    padding: 5px 10px 5px;
}

@media screen and (max-width: 792px) {
    .newCard{
        width: 46.67%;
    }

    .cartCount{
        display: inline;
    }
}

/* 600px and under */
@media screen and (max-width: 650px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    table{
        float: center;
    }

    .cartCount{
        display: inline;
    }
}

