h1{
    font-family: "Georgia";
    text-align: center;
    size: 30px;
    margin-top: 30px;
}

h2{
    font-family: "Georgia";
    text-align: center;
    size: 20px;
    margin-top: 30px;
}

iframe{
    text-align: center;
}

audio{
    display: table;
    margin: 0px auto 30px;
}