h1 {
    padding-top: 20px;
    font-family: "Georgia";
    text-align: center;
}

form {
    font-family: "Georgia";
    background-color: #ffea77;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 20px;
}


body {
    background-image: url(../network.jpeg)
}

.whiteBG {
    background-color: white;
    margin: none;
}