nav {
    background-color: lightseagreen;
}

a {
    color: white;
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
}

.display-1 {
    font-family: 'Francois One', sans-serif;
}

.display-2 {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
}

.display-3 {
    font-family: 'Francois One', sans-serif;
    font-size: 20px;
}

h5 {
    font-family: "Francois One", sans-serif;
}

p {
    font-family: "Gill Sans", sans-serif;
}

dl {
    margin-bottom: 40px;
    font-family: "Gill Sans", sans-serif;
}

.row {
    font-family: "Gill Sans", serif;
}

.col-sm-2 {
    color: lightseagreen;
}

.table-striped > tbody > tr:nth-child(n+1) > td{
    background-color: #beeae8;
}

.table-striped > tbody > tr:nth-child(n+1) > th {
    background-color: #84cac7;
 }

table {
    margin-top: 40px;
}

 td {
    color: darkslategrey;
 }

 .align-self-start {
    width: 215px;
 }